@tailwind base;
@tailwind components;
@tailwind utilities;

@import "leaflet/dist/leaflet.css";

:root {
  --primary-teal: #0d9488;
  --secondary-teal: #0f766e;
}

html, body {
  height: 100%;
  margin: 0;
  font-family: 'Inter', sans-serif;
}
